#zimple_price_table {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.zimple_price_table {
  width: 100%;
  text-align: left;
}

.grid_row {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #eeedf1;
  vertical-align: middle;
  padding: 1rem;
}

.grid_row_header {
  background: #eeedf1;
  font-weight: bold;
  position: sticky;
  top: 40px;
  z-index: 9999;
}

.grid_cell {
  max-width: calc(100% / 5);
  min-width: calc(100% / 5);
  width: calc(100% / 5);
}

.value_without_svg {
  font-weight: 500;
  display: block;
}

.value_additional_text {
  display: block;
  font-size: 0.9rem;
}

.price_dialog_header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 0.5rem;
  background: #201252;
  height: 40px;
  color: white;
}

.price_dialog {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 !important;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.price_dialog_content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0 0 4rem;
  margin-bottom: 2rem;
  border: 1px solid #9592a1;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.4s;
  animation-name: animate;
  animation-duration: 0.4s;
}

.price_dialog_content_mobile {
  padding: 0 !important;
}

.zimple_table_h3 {
  margin-left: 1rem;
}

.table_h1_text {
  font-weight: bold;
}

@-webkit-keyframes animate {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animate {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* Close icon */
.close {
  position: absolute;
  right: 0.5rem;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* mobile styles */

.price_dialog_header_mobile {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 40px;
  padding: 1rem 0;
  background: #eeedf1;
  font-weight: bold;
  z-index: 1;
  font-size: 12px;
}

.price_table_value_row_mobile {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.price_table_value_label_mobile {
  padding: 0.5rem;
  border-top: 1px solid #eeedf1;
  display: flex;
  justify-content: space-between;
}

.price_table_value_category_header {
  padding: 0 0.5rem;
}

.arrow {
  border: solid #9592a1;
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 7px;
  height: 7px;
  transition: 0.24s;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
